In [55]:
# Dependencies and Setup
import pandas as pd

# File to Load
chart_path = "charts.csv"

# Read Chart Data File and store into Pandas DataFrames
chart_data = pd.read_csv(chart_path)
chart_data

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0
...,...,...,...,...,...,...,...,...,...
26173509,BYE,46,2021-07-31,Jaden,https://open.spotify.com/track/3OUyyDN7EZrL7i0...,Vietnam,viral50,MOVE_UP,NaN
26173510,Pillars,47,2021-07-31,My Anh,https://open.spotify.com/track/6eky30oFiQbHUAT...,Vietnam,viral50,NEW_ENTRY,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,https://open.spotify.com/track/2klsSb2iTfgDh95...,Vietnam,viral50,MOVE_DOWN,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,https://open.spotify.com/track/1aU1wpYBSpP0M6I...,Vietnam,viral50,MOVE_DOWN,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",https://open.spotify.com/track/508QhA2SncMbh5C...,Vietnam,viral50,MOVE_DOWN,NaN

In [58]:
chart_data.dtypes

In [59]:
chart_data = chart_data.astype({"rank": str}, errors='raise')
chart_data['rank'].dtype

In [60]:
chart_data_reduced_columns = chart_data[["title", "rank", "date",'artist', "region", "chart", "streams"]]
chart_data_reduced_columns

,title,rank,date,artist,region,chart,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,Argentina,top200,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,Argentina,top200,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,Argentina,top200,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",Argentina,top200,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,Argentina,top200,153956.0
...,...,...,...,...,...,...,...
26173509,BYE,46,2021-07-31,Jaden,Vietnam,viral50,NaN
26173510,Pillars,47,2021-07-31,My Anh,Vietnam,viral50,NaN
26173511,Gái Độc Thân,48,2021-07-31,Tlinh,Vietnam,viral50,NaN
26173512,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,Vietnam,viral50,NaN
26173513,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",Vietnam,viral50,NaN

In [65]:
chart_data_reduced_columns.count()

title      26173503
rank       26173514
date       26173514
artist     26173496
region     26173514
chart      26173514
streams    20321904
dtype: int64

In [66]:
chart_data_reduced_columns = chart_data_reduced_columns.dropna(how='any')

In [67]:
chart_data_reduced_columns.count()

title      20321897
rank       20321897
date       20321897
artist     20321897
region     20321897
chart      20321897
streams    20321897
dtype: int64

In [68]:
chart_data_reduced_columns['date'] = chart_data_reduced_columns['date'].apply(lambda x: x.split("-")[0])

/var/folders/lf/_fj3_9ln3j5bmwl546qpzm1w0000gn/T/ipykernel_4772/984760628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chart_data_reduced_columns['date'] = chart_data_reduced_columns['date'].apply(lambda x: x.split("-")[0])

In [69]:
chart_data_reduced_columns

,title,rank,date,artist,region,chart,streams
0,Chantaje (feat. Maluma),1,2017,Shakira,Argentina,top200,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017,Ricky Martin,Argentina,top200,223988.0
2,Reggaetón Lento (Bailemos),3,2017,CNCO,Argentina,top200,210943.0
3,Safari,4,2017,"J Balvin, Pharrell Williams, BIA, Sky",Argentina,top200,173865.0
4,Shaky Shaky,5,2017,Daddy Yankee,Argentina,top200,153956.0
...,...,...,...,...,...,...,...
25276069,Ojalá (feat. Darell),196,2018,"De La Ghetto, Almighty, Bryant Myers",Uruguay,top200,1178.0
25276070,Lo Que Pasa en la Noche,197,2018,Mano Arriba,Uruguay,top200,1178.0
25276071,El Equivocado,198,2018,Mano Arriba,Uruguay,top200,1170.0
25276072,Que Fui Tu Amante,199,2018,El Gucci y Su Banda,Uruguay,top200,1165.0
25276073,Solo,200,2018,"Amenazzy, Lary Over",Uruguay,top200,1162.0

In [77]:
#charts_by_year = chart_data_reduced_columns.groupby('date').count()
charts_2017 = chart_data_clean[(chart_data_clean["date"] == "2017") & (chart_data_clean["chart"] == "top200")]
# charts_2017.groupby('artist')
# artists = charts_2017['artist'].unique()
# artists
#Sort the top five performing schools by % overall passing.

grouped = charts_2017_sorted.groupby("title")
sums = grouped['streams'].sum()
#print top five performing schools 

df = pd.DataFrame({"sum": sums})
df_sorted = df.sort_values("sum", ascending = False)
df_sorted.head()

                                             sum
title
Shape of You                        2.964868e+09
Despacito - Remix                   1.809884e+09
Despacito (Featuring Daddy Yankee)  1.453146e+09
Something Just Like This            1.371283e+09
Unforgettable                       1.341639e+09

In [81]:
#charts_by_year = chart_data_reduced_columns.groupby('date').count()
# charts_2017 = chart_data_reduced_columns[(chart_data_reduced_columns["date"] == "2017") & (chart_data_reduced_columns["chart"] == "top200")]
# charts_2017

grouped = chart_data_reduced_columns.groupby(['date',"title"])
sums = grouped['streams'].sum()
#print top five performing schools 

df = pd.DataFrame({"sum": sums})
df
# df_sorted = df.sort_values("sum", ascending = False)
# df_sorted.head()

                                                     sum
date title
2017 "All That Is or Ever Was or Ever Will Be"    7311.0
     "Read All About It, Pt. III"                57025.0
     #99                                         31826.0
     #Askip                                     296862.0
     #Biziz - feat. Lil Bege                    403591.0
...                                                  ...
2021 우산 (feat. 윤하)                                1427.0
     욱 (UGH!)                                    43909.0
     친구                                         356265.0
     키스는 다음에                                     93903.0
     🪐                                           31970.0

[128675 rows x 1 columns]

In [33]:
charts_2018 = chart_data_reduced_columns[(chart_data_reduced_columns["date"] == "2018") & (chart_data_reduced_columns["chart"] == "top200")]
charts_2018

,title,rank,date,artist,region,chart,streams
1264,Mine,6,2018,Bazzi,Denmark,top200,62549.0
2390,Outcast,61,2018,FOOL,Denmark,top200,15936.0
2545,Skyldig,116,2018,Blak,Denmark,top200,10817.0
3069,Enkelit,47,2018,Cheek,Finland,top200,18974.0
4328,44 More,42,2018,Logic,Global,top200,1367372.0
...,...,...,...,...,...,...,...
25276069,Ojalá (feat. Darell),196,2018,"De La Ghetto, Almighty, Bryant Myers",Uruguay,top200,1178.0
25276070,Lo Que Pasa en la Noche,197,2018,Mano Arriba,Uruguay,top200,1178.0
25276071,El Equivocado,198,2018,Mano Arriba,Uruguay,top200,1170.0
25276072,Que Fui Tu Amante,199,2018,El Gucci y Su Banda,Uruguay,top200,1165.0
25276073,Solo,200,2018,"Amenazzy, Lary Over",Uruguay,top200,1162.0

In [34]:
charts_2019 = chart_data_reduced_columns[(chart_data_reduced_columns["date"] == "2019") & (chart_data_reduced_columns["chart"] == "top200")]
charts_2019

,title,rank,date,artist,region,chart,streams
208946,Katakan,52,2019,Jaz,Indonesia,top200,56657.0
209413,ICY,53,2019,ITZY,Indonesia,top200,56201.0
209995,Africa,118,2019,TOTO,Ireland,top200,6907.0
3710500,Violeta,180,2019,Alcides,Argentina,top200,27080.0
3710714,Ballin,97,2019,Luciano,Austria,top200,4124.0
...,...,...,...,...,...,...,...
10858557,They Said,196,2019,"Binz, Touliver",Vietnam,top200,2167.0
10858558,Get You The Moon (feat. Snøw),197,2019,Kina,Vietnam,top200,2155.0
10858559,All Falls Down (feat. Juliander),198,2019,"Alan Walker, Noah Cyrus, Digital Farm Animals",Vietnam,top200,2153.0
10858560,Em Dạo Này,199,2019,Ngọt,Vietnam,top200,2146.0
10858561,I Don’t Wanna Live Forever (Fifty Shades Darker),200,2019,"ZAYN, Taylor Swift",Vietnam,top200,2140.0

In [35]:
charts_2020 = chart_data_reduced_columns[(chart_data_reduced_columns["date"] == "2020") & (chart_data_reduced_columns["chart"] == "top200")]
charts_2020

,title,rank,date,artist,region,chart,streams
19128,Ride It,146,2020,Regard,Bolivia,top200,1956.0
19234,+Linda,147,2020,Dalex,Bolivia,top200,1953.0
19287,Woah,148,2020,Lil Baby,Canada,top200,35211.0
19390,25/8,105,2020,Bad Bunny,Chile,top200,31854.0
19698,Keii,65,2020,Anuel AA,Colombia,top200,16155.0
...,...,...,...,...,...,...,...
18703688,Love To Hate Me,196,2020,BLACKPINK,Vietnam,top200,4019.0
18703689,Lily,197,2020,"Alan Walker, K-391, Emelie Hollow",Vietnam,top200,4000.0
18703690,Say So,198,2020,Doja Cat,Vietnam,top200,3981.0
18703691,Heather,199,2020,Conan Gray,Vietnam,top200,3970.0
18703692,Hôm Nay Tôi Buồn,200,2020,Phùng Khánh Linh,Vietnam,top200,3964.0

In [36]:
charts_2021 = chart_data_reduced_columns[(chart_data_reduced_columns["date"] == "2021") & (chart_data_reduced_columns["chart"] == "top200")]
charts_2021

,title,rank,date,artist,region,chart,streams
63293,Stay Gold,68,2021,BTS,Japan,top200,54393.0
478448,Poblado - Remix,104,2021,"J Balvin, KAROL G, Nicky Jam, Crissin, Totoy E...",Spain,top200,69591.0
478449,"No Me Conocen (Remix) [con DUKI, Rei & Tiago PZK]",105,2021,BANDIDO,Spain,top200,68464.0
478450,Wow Wow (feat. Becky G),106,2021,Maria Becerra,Spain,top200,67187.0
478451,40 NOCHES,107,2021,"Recycled J, Selecta",Spain,top200,67168.0
...,...,...,...,...,...,...,...
24883377,Sao Em Lại Tắt Máy?,196,2021,"Phạm Nguyên Ngọc, Vanh",Vietnam,top200,4526.0
24883378,I Love You 3000,197,2021,Stephanie Poetri,Vietnam,top200,4525.0
24883379,Stuck with U (with Justin Bieber),198,2021,Ariana Grande,Vietnam,top200,4461.0
24883380,2 5,199,2021,Táo,Vietnam,top200,4443.0
24883381,Blank Space,200,2021,Taylor Swift,Vietnam,top200,4434.0